<main>
    <h1><i class="fa fa-picture-o"></i> Image Guidelines</h1>
    <p>Many things contribute to image quality and resolution. It's complicated and confusing. Just because an image is "high res", doesn't mean it's a <em>good</em> photo. And just because a photo <em>looks</em> good on a digital screen, doesn't mean it's actually usable on a particular project.</p>

    <p><strong>This is a list of key indicators to help determine whether or not an image can <em>probably</em> be used in a print project.</strong></p>

    <p>Each item can be clicked for further explanation.</p>

    <hr />

    <h2><em>Can't</em> use the image if:</h2>
    <dl>
        <dt>You've sent or received it via text message on a cell phone.</dt>
        <dd>When an image is sent through texting, phones automatically reduces the file size. This helps the image send faster, and use less data from your service plan. If the recipient text messages the image to a third person, the image may be reduced yet again. This loss of quality is rarely noticeable on a small digital screen, but is very destructive.</dd>
        <dt>You saved it from a website (ie. right clicking "file" and "save as")</dt>
        <dd>Reducing the size of images is key to building websites. Images are one of the main things that determine how fast or slow a website loads. Entire computer programs have been developed for the purpose of optimizing photos for the internet. And many websites, like Facebook will automatically optimize images when you post them. That reduction in file size makes them unprintable.</dd>
        <dt>It's been used in an email newsletter.</dt>
        <dd>Email newsletters are essentially mini websites. Since emails are often viewed on small cell phones, while using data, reducing the size of images is even more critical. Most email newsletter services (ie. MailChimp, Constant Contact) will automatically scale and optimize images to meet their requirements.</dd>
        <dt>It's been saved as a screenshot on a cell phone.</dt>
        <dd>A screenshot is a 'photo' of the screen. It's limited to the exact resolution and physical size of that particular screen. Cell phone screens aren't meant for enlargement or printing. Regardless of the size/resolution of the original image, if you take a screenshot of it, you've effectively cropped/resized it to the size of that screen. You've most likely also captured interface elements, like the current time and battery indicator.</dd>
        <dt>It's a photo taken of an already printed photo.</dt>
        <dd>Unfortunately, this doesn't work. Reflections off the surface texture of the print, and added effects the surrounding lighting are unavoidable. If no digital file is available, the photo should be scanned on a flatbed scanner at the highest resolution possible. This should be considered an absolute worst-case scenario however, as a digital scan will pick up the individual dots of ink applied when printing, as well as the white paper between those dots. This is why scans/copies always appear slightly duller than their original.</dd>
    </dl>
    
    <hr />

    <h2><em>Probably</em> can't use the image (it may take more time/$) if:</h2>
    <dl>
        <dt>It was taken with a cell phone.</dt>
        <dd>Cell phone cameras have come a long way, but they aren't made for professional photography. Eye catching Instagram and Facebook photos are often overlaid with over-exaggerated color filters for artistic flare, but also help hide poor quality caused by the limitations of the camera. And while they may look good when viewing on a digital screen, they aren't intended for print. Clip on lenses can be used to enhance quality, but more often than not, cell phone photos do not meet professional standards. Use a real camera if possible.</dd>
        <dt>It was taken inside, without proper lighting.</dt>
        <dd>In particular, if a cell phone was used. Cell phone camera sensors still fall short under low-lighting conditions. And their small flashes cause unnaturally sharp, high contrasting shadows. Keep in mind, you use that same cell phone "camera flash" as a flash light. Real camera flashes aren't anything like flashlights. Professional camera lights are more like lamps and are carefully positioned and calibrated.</dd>
        <dt>There's clutter in the background. <em>(*circumstantial)</em></dt>
        <dd>The more clutter there is in the background, the more limiting the image is for design. Especially if the intent is to neatly crop the photo around an object, background objects can make this process very time consuming. The background should be a plain wall or sheet, whenever possible.
        <p><em>*This mainly refers to portrait/fashion/product photography.</em></p>
        </dd>
    </dl>
    
    <hr />

    <h2>Not sure?</h2>
    <dl>
        <dt>Check the physical size on a desktop/laptop computer screen. Zoomed at 100% (actual size), it should be larger than your screen.</dt>
        <dd>Sometimes computers will automatically shrink the image to fit your screen. Try zooming in. Does the image get blurry? That's not good. If the image stays clear and sharp, that's a good sign.</dd>
        <dt>How large is the file size, measured in KB or MB? It should be at least 1 MB.</dt>
        <dd>You can check this by right clicking on the file’s icon, and selecting "Properties" on a PC or "File Info" on a Mac. Also, most email clients will show you the file size when attaching it to a message. Anything less than 1 MB is a major warning sign. Professional photos can often exceed 10 MB, by comparisson. There are roughly 1,000 KB in 1 MB. If the file size shows as KB, that's probably because it's less than 1 MB, and is too small.</dd>
    </dl>
</main>