<!-- header -->
<app-header></app-header>
<div class="slider-area2">
    <div class="slider-height2   d-flex align-items-center justify-content-center">
        <div class="container  d-flex align-items-center justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-70 text-center">
                        <h2>{{'OtherModule.tc_label' | translate }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about
================================================== -->
<section class="faq-section" id="privacy">
    <div class="container" id="faq">
        <div class="row">
            <div>
                <h2 class="faq-title">{{'OtherModule.tc_label' | translate }}</h2>
            </div>
            <div class="col-lg-12">
                <div class="policy">
                    <div class="heading">{{'OtherModule.tc_label' | translate }}</div>
                    <div class="policy-body" id="privacy1">{{'OtherModule.lorem_ipsum' | translate }}</div>
                </div>
                <div class="policy">
                    <div class="heading">{{'OtherModule.tc_label' | translate }}</div>
                    <div class="policy-body" id="privacy2">{{'OtherModule.lorem_ipsum' | translate }}</div>
                </div>
                <div class="policy">
                    <div class="heading" id="privacy3">{{'OtherModule.tc_label' | translate }}</div>
                    <div class="policy-body">{{'OtherModule.lorem_ipsum' | translate }}</div>
                </div>
                <div class="policy">
                    <div class="heading">{{'OtherModule.tc_label' | translate }}</div>
                    <div class="policy-body" id="privacy4">{{'OtherModule.lorem_ipsum' | translate }}</div>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- footer -->
<app-footer></app-footer>