<!-- portfolio
   ================================================== -->
   <section id="portfolio">
   	
    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h3>Showcase</h3>
                <h1>See Our Featured Projects.</h1>  			
                
                <p class="lead">
                    Those were projects  built from scratch with basic knowledge and no experience just to show you who we are and how we learn and develop as life goes on.
                </p>	   			
            </div>   		
        </div> <!-- end row section-intro -->   		

    </div> <!-- end intro-wrap -->   	

    <div class="row portfolio-content">
        <div class="col-twelve">
            <div id="folio-wrap" class="bricks-wrapper">					

                <div class="brick folio-item">
                <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-shutterbug.jpg" data-sub-html="#01" > 	
                   <a href="https://odopark.herokuapp.com/" class="overlay">
                       <img src="/assets/images/portfolio/chat.png" alt="Skaterboy">	                     
                      <div class="item-text">
                          <span class="folio-types">
                                    Web Development, Written in Angular at frontend <br/>
                                    Node js at backend , using mongoDB atlas . 
                                 </span>
                                 <h3 class="folio-title">Chat securely</h3>	     					   
                              </div>                                        
                   </a>
                   <a href="https://odopark.herokuapp.com/" class='details-link' title="details">
                       <i class="icon-link"></i>
                   </a>
                </div> <!-- end item-wrap -->
                     
                     <div id="01" class='hide'>
                         <h4>Shutterbug</h4>
                         <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
                     </div>
                 </div> <!-- end folio-item -->

                 <div class="brick folio-item">
                <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-yellowwall.jpg" data-sub-html="#02"> 	
                   <a href="http://cloudupp.herokuapp.com/" class="overlay">
                       <img src="/assets/images/portfolio/cloud.jpg" alt="Shutterbug">	                     
                      <div class="item-text">
                          <span class="folio-types">
                                    File Hosting Free <br/>
                                    Tech stack - PHP , Mysql , S3 for  images<br/>
                                    Host : Heroku <br/>
                                    
                                 </span>
                                 <h3 class="folio-title">Cloudupp - Host anything for free</h3>  	     					   
                              </div>                                        
                   </a>
                   <a href="http://cloudupp.herokuapp.com/" class='details-link' title="details">
                       <i class="icon-link"></i>
                   </a>
                </div> <!-- end item-wrap -->

                <div id="02" class='hide'>
                         <h4>Coin Chatter</h4>
                         <p>
                             Tech stack- Angular , Node , MongoDB , S3 Aws Bucket<br/>
                            Frontend Host :Firebase  <br/>
                            Bakend Host :Heokru <br/>
                            <a href="https://coinchatter-e946d.web.app/">Details</a></p>
                     </div>	               
                 </div> <!-- end folio-item -->

                 <div class="brick folio-item">
                <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-architecture.jpg" data-sub-html="#03" >   	
                   <a href="https://coinchatter-e946d.web.app/" class="overlay">
                       <img src="/assets/images/portfolio/coin.jpg" alt="Explore">	                     
                      <div class="item-text">	                     		     					    
                                 <span class="folio-types">
                                    Tech stack- Angular , Node , MongoDB , S3 Aws Bucket<br/>
                                    Frontend Host :Firebase  <br/>
                                    Bakend Host :Heokru <br/>
                                 </span>
                                 <h3 class="folio-title">Coin Chatter </h3>
                              </div>                                        
                   </a>
                   <a href="https://coinchatter-e946d.web.app/" class='details-link' title="details">
                       <i class="icon-link"></i>
                   </a>
                </div> <!-- end item-wrap -->	

                <div id="03" class='hide'>
                         <h4>Barber Shop</h4>
                         <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
                     </div>               
                 </div> <!-- end folio-item -->

                 <div class="brick folio-item">
                <div class="item-wrap animate-this"  data-src="images/portfolio/gallery/g-minimalismo.jpg"  data-sub-html="#04" >
                   <a href="https://barber-s.herokuapp.com/" class="overlay">
                       <img src="/assets/images/portfolio/barber.jpg" alt="Minimalismo">	                     
                      <div class="item-text">	     					    
                                 <span class="folio-types">
                                    Barber Shop
                                    Tech Stack: HTML , CSS , JS 
                                 </span>
                                 <h3 class="folio-title">Barber Shop</h3>
                              </div>                                        
                   </a>
                   <a href="https://barber-s.herokuapp.com/" class='details-link' title="details">
                       <i class="icon-link"></i>
                   </a>
                </div> <!-- end item-wrap -->

                <div id="04" class='hide'>
                         <h4>Barber Shop</h4>
                         <p> Barber Shop<a href="https://barber-s.herokuapp.com/">Details</a></p>
                     </div>  	               
                 </div> <!-- end folio-item -->

                 <div class="brick folio-item">
                <div class="item-wrap animate-this"  data-src="images/portfolio/gallery/g-skaterboy.jpg"  data-sub-html="#05" >  	
                   <a href="https://hrzt.herokuapp.com/" class="overlay">
                       <img src="/assets/images/portfolio/slick.png" alt="slick">	                     
                      <div class="item-text">	     					    
                                 <span class="folio-types">
                                    Horizontal timeline
                                 </span>
                                 <h3 class="folio-title">Slick Slider</h3>
                              </div>                                        
                   </a>
                   <a href="https://hrzt.herokuapp.com/" class='details-link' title="details">
                       <i class="icon-link"></i>
                   </a>
                </div> <!-- end item-wrap -->

                <div id="05" class='hide'>
                         <h4>Skaterboy</h4>
                         <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
                     </div>	               
                 </div> <!-- end folio-item -->
            
                 <div class="brick folio-item">
                <div class="item-wrap animate-this"  data-src="images/portfolio/gallery/g-salad.jpg"  data-sub-html="#06">     	
                   <a href="https://rivern.herokuapp.com/" class="overlay">
                       <img src="/assets/images/portfolio/travel.jpg" alt="Salad">	                     
                      <div class="item-text">	     					    
                                 <span class="folio-types">
                                    Travel Agency
                                 </span>
                                 <h3 class="folio-title">Web Development</h3>
                              </div>                                        
                   </a>
                   <a href="https://rivern.herokuapp.com/" class='details-link' title="details">
                       <i class="icon-link"></i>
                   </a>
                </div> <!-- end item-wrap -->

                <div id="06" class='hide'>
                         <h4>Salad</h4>
                         <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
                     </div>	               
                 </div> <!-- end folio-item -->   				

            </div> <!-- end folio-wrap -->
        </div> <!-- end twelve -->
    </div> <!-- end portfolio-content -->   	

</section>  <!-- end portfolio -->
