<!-- header -->
<app-header #head></app-header>
<!-- home
================================================== -->
<section id="home">

    <div class="overlay"></div>

    <div class="home-content-table">
        <div class="home-content-tablecell">
            <div class="row">
                <div class="col-twelve">

                    <h3 class="animate-intro">{{'HomeModule.we_are' | translate }} Fardos.dev</h3>
                    <h1 class="animate-intro">
                        {{'HomeModule.we_craft_stunning' | translate }} <br>
                        {{'HomeModule.digital_experiences' | translate }}.
                    </h1>

                    <div class="more animate-intro">
                        <a class="smoothscroll button stroke" href="#about">
                            {{'HomeModule.learn_more' | translate }}
                        </a>
                    </div>

                </div> <!-- end col-twelve -->
            </div> <!-- end row -->
        </div> <!-- end home-content-tablecell -->
    </div> <!-- end home-content-table -->

    <ul class="home-social-list">
        <li class="animate-intro">
            <a href="javascript:;" (click)="openDrawer()"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.facebook.com/Fardos.dev"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://twitter.com/DevFardos"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.instagram.com/fardos.dev/"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.youtube.com/channel/UCN_trwCWoIaPOpEQK8qSu6w?view_as=subscriber"><i
                    class="fa fa-youtube"></i></a>
        </li>

        <li class="animate-intro">
            <a href="https://www.linkedin.com/company/fardos-sol/"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://fardos-dev.medium.com/"><i class="fa fa-medium"></i></a>
        </li>
    </ul> <!-- end home-social-list -->

    <div class="scrolldown">
        <a href="#about" class="scroll-icon smoothscroll">
            Scroll Down
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
    </div>

      

</section> <!-- end home -->

<!-- about
================================================== -->
<section id="about">

    <div class="row about-wrap">
        <div class="col-full">

            <div class="about-profile-bg"></div>

            <div class="intro">
                <h3 class="animate-this">{{'AboutModule.about_us' | translate }}</h3>
                <p class="lead animate-this"><span>Fardos.dev</span> {{'AboutModule.info' | translate }}.</p>
            </div>

        </div> <!-- end col-full  -->
    </div> <!-- end about-wrap  -->

</section> <!-- end about -->


<!-- services
================================================== -->
<section id="services">

    <div class="overlay"></div>
    <div class="gradient-overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-full">

            <h3>{{'ServiceModule.services' | translate }}</h3>
            <h1>{{'ServiceModule.what_we_do' | translate }}.</h1>

            <p class="lead">{{'ServiceModule.brief' | translate }}</p>

        </div> <!-- end col-full -->
    </div> <!-- end row -->

    <div class="row services-content">
        <div *ngIf="!checkForRTL()" class="services-list block-1-2 block-tab-full group">

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-paint-brush"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.branding' | translate }}</h3>

                    <p>
                        {{'ServiceModule.brand_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-earth"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.web_design' | translate }}</h3>

                    <p>
                        {{'ServiceModule.web_design_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-lego-block"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.web_develop' | translate }}</h3>

                    <p>
                        {{'ServiceModule.web_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-megaphone"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.marketing' | translate }}</h3>

                    <p>
                        {{'ServiceModule.marketing_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

        </div> <!-- end services-list -->

        <div *ngIf="checkForRTL()" class="services-list block-1-2 block-tab-full group">

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-earth"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.web_design' | translate }}</h3>

                    <p>
                        {{'ServiceModule.web_design_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-paint-brush"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.branding' | translate }}</h3>

                    <p>
                        {{'ServiceModule.brand_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-megaphone"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.marketing' | translate }}</h3>

                    <p>
                        {{'ServiceModule.marketing_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

            <div class="bgrid service-item animate-this">

                <span class="icon"><i class="icon-lego-block"></i></span>

                <div class="service-content">
                    <h3 class="h05">{{'ServiceModule.web_develop' | translate }}</h3>

                    <p>
                        {{'ServiceModule.web_info' | translate }}.
                    </p>
                </div>

            </div> <!-- end bgrid -->

        </div> <!-- end services-list -->

    </div> <!-- end services-content -->

</section> <!-- end services -->


<!-- portfolio
================================================== -->
<section id="portfolio">

    <div class="intro-wrap">

        <div class="row narrow section-intro with-bottom-sep animate-this">
            <div class="col-twelve">
                <h3>Showcase</h3>
                <h1>See Our Featured Projects.</h1>

                <p class="lead">
                    Those were projects built from scratch with basic knowledge and no experience just to show you who
                    we are and how we learn and develop as life goes on.
                </p>
            </div>
        </div> <!-- end row section-intro -->

    </div> <!-- end intro-wrap -->

    <div class="row portfolio-content">
        <div class="col-twelve">
            <div id="folio-wrap" class="bricks-wrapper">

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="/assets/images/portfolio/chat.png"
                        data-sub-html="#01">
                        <a href="https://odopark.herokuapp.com/" class="overlay">
                            <img src="/assets/images/portfolio/chat.png" alt="Skaterboy">
                            <div class="item-text">
                                <span class="folio-types">
                                    Web Development, Written in Angular at frontend <br />
                                    Node js at backend , using mongoDB atlas .
                                </span>
                                <h3 class="folio-title">Chat securely</h3>
                            </div>
                        </a>
                        <a href="https://odopark.herokuapp.com/" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div> <!-- end item-wrap -->

                    <div id="01" class='hide'>
                        <h4>Shutterbug</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
                    </div>
                </div> <!-- end folio-item -->

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="/assets/images/portfolio/cloud.jpg"
                        data-sub-html="#02">
                        <a href="http://cloudupp.herokuapp.com/" class="overlay">
                            <img src="/assets/images/portfolio/cloud.jpg" alt="Shutterbug">
                            <div class="item-text">
                                <span class="folio-types">
                                    File Hosting Free <br />
                                    Tech stack - PHP , Mysql , S3 for images<br />
                                    Host : Heroku <br />

                                </span>
                                <h3 class="folio-title">Cloudupp - Host anything for free</h3>
                            </div>
                        </a>
                        <a href="http://cloudupp.herokuapp.com/" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div> <!-- end item-wrap -->

                    <div id="02" class='hide'>
                        <h4>Coin Chatter</h4>
                        <p>
                            Tech stack- Angular , Node , MongoDB , S3 Aws Bucket<br />
                            Frontend Host :Firebase <br />
                            Bakend Host :Heokru <br />
                            <a href="https://coinchatter-e946d.web.app/">Details</a>
                        </p>
                    </div>
                </div> <!-- end folio-item -->

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="/assets/images/portfolio/coin.jpg"
                        data-sub-html="#03">
                        <a href="https://coinchatter-e946d.web.app/" class="overlay">
                            <img src="/assets/images/portfolio/coin.jpg" alt="Explore">
                            <div class="item-text">
                                <span class="folio-types">
                                    Tech stack- Angular , Node , MongoDB , S3 Aws Bucket<br />
                                    Frontend Host :Firebase <br />
                                    Bakend Host :Heokru <br />
                                </span>
                                <h3 class="folio-title">Coin Chatter </h3>
                            </div>
                        </a>
                        <a href="https://coinchatter-e946d.web.app/" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div> <!-- end item-wrap -->

                    <div id="03" class='hide'>
                        <h4>Barber Shop</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
                    </div>
                </div> <!-- end folio-item -->

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="/assets/images/portfolio/barber.jpg"
                        data-sub-html="#04">
                        <a href="https://barber-s.herokuapp.com/" class="overlay">
                            <img src="/assets/images/portfolio/barber.jpg" alt="Minimalismo">
                            <div class="item-text">
                                <span class="folio-types">
                                    Barber Shop
                                    Tech Stack: HTML , CSS , JS
                                </span>
                                <h3 class="folio-title">Barber Shop</h3>
                            </div>
                        </a>
                        <a href="https://barber-s.herokuapp.com/" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div> <!-- end item-wrap -->

                    <div id="04" class='hide'>
                        <h4>Barber Shop</h4>
                        <p> Barber Shop<a href="https://barber-s.herokuapp.com/">Details</a></p>
                    </div>
                </div> <!-- end folio-item -->

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="/assets/images/portfolio/slick.png"
                        data-sub-html="#05">
                        <a href="https://hrzt.herokuapp.com/" class="overlay">
                            <img src="/assets/images/portfolio/slick.png" alt="slick">
                            <div class="item-text">
                                <span class="folio-types">
                                    Horizontal timeline
                                </span>
                                <h3 class="folio-title">Slick Slider</h3>
                            </div>
                        </a>
                        <a href="https://hrzt.herokuapp.com/" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div> <!-- end item-wrap -->

                    <div id="05" class='hide'>
                        <h4>Skaterboy</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="https://www.behance.net/">Details</a></p>
                    </div>
                </div> <!-- end folio-item -->

                <div class="brick folio-item">
                    <div class="item-wrap animate-this" data-src="/assets/images/portfolio/travel.jpg"
                        data-sub-html="#06">
                        <a href="https://rivern.herokuapp.com/" class="overlay">
                            <img src="/assets/images/portfolio/travel.jpg" alt="Salad">
                            <div class="item-text">
                                <span class="folio-types">
                                    Travel Agency
                                </span>
                                <h3 class="folio-title">Web Development</h3>
                            </div>
                        </a>
                        <a href="https://rivern.herokuapp.com/" class='details-link' title="details">
                            <i class="icon-link"></i>
                        </a>
                    </div> <!-- end item-wrap -->

                    <div id="06" class='hide'>
                        <h4>Salad</h4>
                        <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis
                            nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p>
                    </div>
                </div> <!-- end folio-item -->

            </div> <!-- end folio-wrap -->
        </div> <!-- end twelve -->
    </div> <!-- end portfolio-content -->

</section> <!-- end portfolio -->


<!-- Testimonials Section
================================================== -->
<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h2 class="animate-this">{{'TestimonialsModule.quotes_of_the_day' | translate }}</h2>
        </div>
    </div>

    <div class="row flex-container">

        <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

                <li [ngClass]="!checkForRTL()?'rtl':'ltr'">
                    <p [ngClass]="lang">
                        {{'TestimonialsModule.quote_1' | translate }}.
                    </p>

                    <div class="testimonial-author">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Shakespeare.jpg/220px-Shakespeare.jpg"
                            alt="Author image">
                        <div class="author-info" [ngClass]="lang">
                            {{'TestimonialsModule.quote_1_writer' | translate }}
                            <span class="position" [ngClass]="lang">{{'TestimonialsModule.quote_1_info' | translate
                                }}</span>
                        </div>
                    </div>
                </li> <!-- end slide -->

                <li [ngClass]="!checkForRTL()?'rtl':'ltr'">
                    <p [ngClass]="lang">
                        {{'TestimonialsModule.quote_2' | translate }}.
                    </p>

                    <div class="testimonial-author">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Helen_KellerA.jpg"
                            alt="Author image">
                        <div class="author-info" [ngClass]="lang">
                            {{'TestimonialsModule.quote_2_writer' | translate }}
                            <span [ngClass]="lang">{{'TestimonialsModule.quote_2_info' | translate }}</span>
                        </div>
                    </div>
                </li> <!-- end slide -->

            </ul> <!-- end slides -->

        </div> <!-- end testimonial-slider -->

    </div> <!-- end flex-container -->

</section> <!-- end testimonials -->


<!-- stats
================================================== -->
<section id="clients">

    <div class="row animate-this">
        <div class="col-twelve">

            <div class="client-lists owl-carousel">
                <div><img src="assets/images/clients/mozilla.png" alt=""></div>
                <div><img src="assets/images/clients/bower.png" alt=""></div>
                <div><img src="assets/images/clients/codepen.png" alt=""></div>
                <div><img src="assets/images/clients/envato.png" alt=""></div>
                <div><img src="assets/images/clients/firefox.png" alt=""></div>
                <div><img src="assets/images/clients/grunt.png" alt=""></div>
                <div><img src="assets/images/clients/evernote.png" alt=""></div>
                <div><img src="assets/images/clients/github.png" alt=""></div>
                <div><img src="assets/images/clients/joomla.png" alt=""></div>
                <div><img src="assets/images/clients/jQuery.png" alt=""></div>
                <div><img src="assets/images/clients/wordpress.png" alt=""></div>
            </div>

        </div> <!-- end col-twelve -->
    </div> <!-- end row -->

</section> <!-- end clients -->

<!-- faq
================================================== -->
<section id="faq" class="faq">
    <h1 [ngClass]="lang">{{'FaqModule.main_head' | translate }}.</h1>
    <span [ngClass]="lang">{{'FaqModule.faq' | translate }}</span>
    <div class="row about-wrap">
        <div class="col-full">
            <details>
                <summary [ngClass]="{'rtl': head.checkForRTL()}">{{'FaqModule.question_1' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_1' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_2' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_2' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_3' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_3' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_4' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_4' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_5' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_5' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_6' | translate }} {{checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_6' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_7' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_7' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_8' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_8' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_9' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_9' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_10' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_10' | translate }}</p>
                </div>
              </details>
              <details>
                <summary [ngClass]="{'rtl': head.checkForRTL() }">{{'FaqModule.question_11' | translate }} {{head.checkForRTL()?'؟':'?'}}</summary>
                <div class="faq__content">
                  <p>{{'FaqModule.ans_11' | translate }}</p>
                </div>
              </details>
        </div> <!-- end col-full  -->
    </div> <!-- end faq-wrap  -->

</section> <!-- end faq -->
<nz-drawer [nzBodyStyle]="{padding: '0'}" [nzMaskClosable]="false" [nzWidth]="'100%'" [nzHeight]="'100%'" [nzVisible]="visible"
    [nzPlacement]="'bottom'" (nzOnClose)="closeDrawer()" [nzClosable]="false">

    <div class="index_wrapper index_collapsed index_full-width">
        <div class="index_navbar">
            <svg width="45" height="30" viewBox="0 0 45 30" fill="none" class="index_back" (click)="closeDrawer()">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1.50533 13.7242C1.15615 14.0733 0.981894 14.5312 0.982564 14.9889C0.976715 15.4531 1.15092 15.9193 1.50519 16.2735L14.3882 29.1566C15.0852 29.8536 16.2153 29.8536 16.9124 29.1566C17.6094 28.4596 17.6094 27.3295 16.9124 26.6325L7.32338 17.0435L42.3874 17.0435C43.4359 17.0435 44.2858 16.1935 44.2858 15.1451C44.2858 14.0966 43.4359 13.2467 42.3874 13.2467L7.03104 13.2467L16.9125 3.36525C17.6095 2.66823 17.6095 1.53814 16.9125 0.841122C16.2155 0.144104 15.0854 0.144106 14.3884 0.841124L1.50533 13.7242Z"
                    fill="black" fill-opacity="0.8"></path>
            </svg>
        </div>
        <div class="index_page-title">Select Your Language</div>
        <div class="index_scroll">
            <div class="index_container">
                <div class="index_content">
                    <!-- <div class="index_item">
                        <div class="index_area">‎中文(简体)‎</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">‎‎中文(繁體)‎</div>
                    </div> -->
                    <div class="index_item" (click)="switchLang('en')">
                        <div class="index_area">‎English</div>
                    </div>
                    <div class="index_item" (click)="switchLang('ar')">
                        <div class="index_area">عربى</div>
                    </div>
                    <div class="index_item" (click)="switchLang('ru')">
                        <div class="index_area">الروسية</div>
                    </div>
                    <div class="index_item" (click)="switchLang('he')">
                        <div class="index_area">אבריט</div>
                    </div>
                    <!-- <div class="index_item">
                        <div class="index_area">한국어</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Português (Brasil)‎</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Bahasa Indonesia</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">हिन्दी</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">தமிழ்</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">తెలుగు</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ಕನ್ನಡ</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">मराठी</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">മലയാളം</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">বাংলা</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ภาษาไทย</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Tiếng Việt</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Bahasa Melayu</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Türkçe</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">العربية</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Русский</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Español (América)‎</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Українська</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">O'zbekcha</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">অসমীয়া</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">فارسی</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Français</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Italiano</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">עברית</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ဗမာ</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Polski</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Español (España)‎</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Čeština</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Ελληνικά</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Nederlands</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Deutsch</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">日本語‎</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Bosanski‎</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Hrvatski</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Suomi</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Latviešu</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">नेपाली</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Português (Portugal)</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Română</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Српски</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Slovenčina</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Slovenščina</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Lietuvių</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ગુજરાતી</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">հայերեն</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ਪੰਜਾਬੀ</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Hausa</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Қазақ тілі</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Azərbaycan</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ଓଡ଼ିଆ</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Shqip</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">Български</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ქართული</div>
                    </div>
                    <div class="index_item">
                        <div class="index_area">ខ្មែរ</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</nz-drawer>
<!-- footer -->
<app-footer></app-footer>